.bg-crea-annunci{
    background-color: var(--primary-color) !important;
}

.create-form{
    width: 100%;
}

.preview-images{
    height: 200px;
    width: 200px;
    background-position: center;
    background-size: cover;

}


