footer {
    background-color: var(--primary-color);
    color: white;
}

footer .footer-link {
    text-decoration: none;
    color: white;
}

footer .footer-link:hover {
    color: var(--secondary-color)
}
footer .footer-brand {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
    user-select: none;
}

footer a.footer-brand {
    text-decoration: none;
    color: #fff;
}