.navbar {
    --bs-navbar-padding-y: 0.75rem;
    --bs-navbar-brand-padding-y: 0.625rem;
    --bs-navbar-brand-font-size: 1.75rem;
    --bs-navbar-nav-link-padding-x: 1rem;

    background-color: #fff !important;
}

.navbar .form-control:focus {
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: var(--secondary-color);
    outline: 0;
    box-shadow: 0 0 0.5rem rgba(var(--secondary-color-rgb), 0.25);
  }

.navbar-nav {
    --bs-nav-link-padding-x: 0.75rem;
}

.navbar i,
.navbar a:not(.btn) {
    color: #333;
    font-weight: 500;
}
.navbar a:hover:not(.btn) {
    color: var(--secondary-color);
}

.navbar .navbar-toggler {
    border: none;
    font-size: 1rem;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.navbar .navbar-brand {
    font-family: "Pacifico", cursive;
}

.navbar a.navbar-brand:hover {
    color: #333;
}

.navbar .nav-link.dropdown-toggle::after{
    display: none;
}

.navbar .dropdown .dropdown-item {
    font-size: .875rem;
}

.navbar .navbar-right-side {
    list-style: none;
    margin-bottom:0;
}

.navbar .navbar-tool .navbar-tool-tooltip {
    display: block;
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    padding: 0.0625rem 0.375rem;
    border-radius: 0.25rem;
    background-color: #2b3445;
    color: #fff;
    font-size: 0.6875rem;
    white-space: nowrap;
    opacity: 0;
}

.navbar .navbar-tool .navbar-tool-icon-box {
    position: relative;
    width: 2.875rem;
    height: 2.875rem;
    border-radius: 50%;
    line-height: 2.625rem;
    text-align: center;
}

.navbar .navbar-tool .navbar-tool-icon-box i {
    font-size: 1.25rem;
    line-height: 2.875rem;
}

.navbar .navbar-tool {
    position: relative;
    display: flex;
    align-items: center;
}

@keyframes slide-up {
    0% {
        transform: translateY(0.5rem);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 992px) {
    .navbar .navbar-tool:hover .navbar-tool-tooltip {
        opacity: 0.75;
        top: -0.75rem;
    }

    .navbar .dropdown .dropdown-menu {
        border-color: #fff;
        background-color: #fff;
        box-shadow: 0 0.25rem 0.5625rem -0.0625rem rgba(0,0,0,.1), 0 0.275rem 1.25rem -0.0625rem rgba(0,0,0,.15);
        width: fit-content;
    }
    .navbar .dropdown:hover > .dropdown-menu {
        display: block;
        -webkit-animation: slide-up 0.25s ease-in-out;
        animation: slide-up 0.25s ease-in-out;
    }
}

@media (max-width: 992px) {

    .navbar .navbar-nav {
        gap:0.5rem;
    }

    .navbar .nav-item {
        background-color: #f6f9fc;
        border-radius: 0.3125rem;
    }

    .navbar .dropdown .dropdown-menu {
        border: none;
        background-color: transparent;
    }

    .navbar .dropdown .dropdown-menu.show{
        -webkit-animation: slide-up 0.25s ease-in-out;
        animation: slide-up 0.25s ease-in-out;
    }
}