:root {
  --primary-color: #003b58;
  --primary-color-rgb: 0, 59, 88;
  --secondary-color: #d45400;
  --secondary-color-rgb: 212, 84, 0;
}

* {
  font-family: "Rubik", sans-serif
}

.no-desktop {
  display: none;
}

@media (max-width: 992px) {
  .no-mobile {
    display: none;
  }
}