body {
    background-color: #003B58;
}

.bg-primary {
    background-color: #023047 !important;
}

#home_title {
    color: #D45400;
}

.dropdown-menu {
    background-color: #8ecae6;
    width: 5px;
}

.dropdown-item:hover {
    color: black;
}

.navbar-toggler {
    background-color: #D45400;
}

.btn-outline-danger{
    color: white;
}

.btn-outline-danger:hover{
    background-color: #D45400;
}

.left-initial {
    left: initial !important;
}
